In [1]:
import pandas as pd
import numpy as np

In [2]:
list1 = pd.read_excel(r"/Users/dbello/Desktop/GenSend Analytics Project_2023/List 1_RAP_Send Relief - GenSend Data.xlsx")

In [3]:
list1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   IDP_ID                                    2421 non-null   object
 1   FirstName                                 2421 non-null   object
 2   LastName                                  2421 non-null   object
 3   Email                                     2421 non-null   object
 4   Address                                   2405 non-null   object
 5   City                                      2405 non-null   object
 6   State                                     2405 non-null   object
 7   Zip                                       2405 non-null   object
 8   DateOfBirth                               2409 non-null   object
 9   Age                                       2405 non-null   float64
 10  Gender                                    2401 non-null   object
 11  Race_Ethnicity                            681 non-null    object
 12  Church                                    2307 non-null   object
 13  ChurchCity                                2307 non-null   object
 14  ChurchState                               2307 non-null   object
 15  MinistryLeaderOrPastorAtChurch_FirstName  2407 non-null   object
 16  MinistryLeaderOrPastorAtChurch_LastName   2399 non-null   object
 17  CurrentChurchPastor                       2421 non-null   object
 18  SBC?                                      1784 non-null   float64
 19  Has_Work_Experience                       2421 non-null   int64
 20  School                                    2391 non-null   object
 21  Field_Of_Study_Or_Degree                  0 non-null      float64
 22  Current_Year_In_College                   2313 non-null   object
 23  Has_Previous_Ministry_Experience          2421 non-null   int64
 24  Is_Involved_In_Campus_Ministry            2421 non-null   int64
 25  Has_Previous_Missions_Experience          2421 non-null   int64
 26  CityOfService                             1227 non-null   object
 27  YearOfService                             2421 non-null   int64
 28  NumberOfSummersServed                     2421 non-null   int64
 29  Has_Ever_Filed_For_Bankruptcy             2354 non-null   object
 30  Age_When_Accepted_Christ                  2299 non-null   object
 31  Age_When_Baptized                         2367 non-null   object
dtypes: float64(3), int64(6), object(23)
memory usage: 605.4+ KB

In [4]:
list2 = pd.read_excel(r"/Users/dbello/Desktop/GenSend Analytics Project_2023/List 2_Send Relief - GenSend Data.xlsx")

In [5]:
list2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   IDP_ID                                    1601 non-null   object
 1   FirstName                                 1601 non-null   object
 2   LastName                                  1601 non-null   object
 3   Email                                     1601 non-null   object
 4   Address                                   1597 non-null   object
 5   City                                      1597 non-null   object
 6   State                                     1597 non-null   object
 7   Zip                                       1597 non-null   object
 8   DateOfBirth                               1597 non-null   datetime64[ns]
 9   Age                                       1597 non-null   float64
 10  Gender                                    1595 non-null   object
 11  Race_Ethnicity                            0 non-null      float64
 12  Church                                    1500 non-null   object
 13  ChurchCity                                1500 non-null   object
 14  ChurchState                               1500 non-null   object
 15  MinistryLeaderOrPastorAtChurch_FirstName  0 non-null      float64
 16  MinistryLeaderOrPastorAtChurch_LastName   0 non-null      float64
 17  CurrentChurchPastor                       679 non-null    object
 18  SBC?                                      990 non-null    float64
 19  Has_Work_Experience                       1601 non-null   int64
 20  School                                    1596 non-null   object
 21  Field_Of_Study_Or_Degree                  1218 non-null   object
 22  Current_Year_In_College                   1526 non-null   object
 23  Has_Previous_Ministry_Experience          1601 non-null   int64
 24  Is_Involved_In_Campus_Ministry            1601 non-null   int64
 25  Has_Previous_Missions_Experience          1601 non-null   int64
 26  CityOfService                             1223 non-null   object
 27  YearOfService                             1601 non-null   int64
 28  NumberOfSummersServed                     1601 non-null   int64
 29  Has_Ever_Filed_For_Bankruptcy             0 non-null      float64
 30  Age_When_Accepted_Christ                  1491 non-null   object
 31  Age_When_Baptized                         0 non-null      float64
dtypes: datetime64[ns](1), float64(7), int64(6), object(18)
memory usage: 400.4+ KB

In [6]:
# list all the elements from list2 that are not found in list1.
main_list = list(set(list2["IDP_ID"]) - set(list1["IDP_ID"]))

In [15]:
main_list

[]

#### Everyone from list2 in on list1. list1 is a more complete set.

In [8]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [9]:
my_list = list(us_state_to_abbrev.keys())
# my_list

In [10]:
# Replace church state name for abbreviation
# Iterate all rows using DataFrame.iterrows()
for index in list1.index:
    if list1['ChurchState'][index] in us_state_to_abbrev.keys():
        list1['ChurchState'][index] = us_state_to_abbrev[list1['ChurchState'][index]]

/var/folders/w3/vqfl42wd3fd53hbr0f08dkmshgfxtc/T/ipykernel_9013/2872395570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list1['ChurchState'][index] = us_state_to_abbrev[list1['ChurchState'][index]]

In [16]:
# Replace home state name for abbreviation
# Iterate all rows using DataFrame.iterrows()
for index in list1.index:
    if list1['State'][index] in us_state_to_abbrev.keys():
        list1['State'][index] = us_state_to_abbrev[list1['State'][index]]

/var/folders/w3/vqfl42wd3fd53hbr0f08dkmshgfxtc/T/ipykernel_9013/2846432015.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list1['State'][index] = us_state_to_abbrev[list1['State'][index]]

In [17]:
# list1['ChurchState'] = list1['ChurchState'].map(us_state_to_abbrev)

In [18]:
list1['State']

0       AL
1       AR
2       AR
3       AR
4       TX
        ..
2416    MS
2417    OH
2418    OH
2419    AL
2420    TX
Name: State, Length: 2421, dtype: object

In [13]:
# Delete "Field_Of_Study_Or_Degree" column
del list1["Field_Of_Study_Or_Degree"]

In [19]:
list1.to_excel("List 1_RAP_SR_GenSend Data.xlsx")